<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>FlorianWolters\Component\Core\EqualityUtils | </title>
                    <link rel="stylesheet" type="text/css" href="../../../stylesheet.css">
                            </head>
        <body id="class">
            <div class="header">
        <ul>
            <li><a href="../../../classes.html">Classes</a></li>
                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                        <li><a href="../../../interfaces.html">Interfaces</a></li>
            <li><a href="../../../traits.html">Traits</a></li>
            <li><a href="../../../doc-index.html">Index</a></li>
            
        </ul>

        <div id="title"></div>

            <div class="type">Class</div>
    <h1><a href="../../../FlorianWolters/Component/Core.html">FlorianWolters\Component\Core</a>\EqualityUtils</h1>
    </div>
        <div class="content">
                <p>    class
    <strong>EqualityUtils</strong></p>

            <div class="description">
            <p>The static class {see EqualityUtils} offers operations for equivalence relations on non-<code>null</code> object references.</p>
            <p>
</p>
        </div>
    
    
    
            <h2>Methods</h2>

            <table>
                    <tr>
                <td class="type">
                    static&nbsp;bool
                </td>
                <td class="last">
                    <a href="#method_isEqual">isEqual</a>(<a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $first = null, <a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $second = null)
                    <p>Indicates whether the two specified objects are "equal".</p>
                </td>
                <td></td>
            </tr>
                    <tr>
                <td class="type">
                    static&nbsp;bool
                </td>
                <td class="last">
                    <a href="#method_isNotEqual">isNotEqual</a>(<a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $first = null, <a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $second = null)
                    <p>Indicates whether the two specified objects are not "equal".</p>
                </td>
                <td></td>
            </tr>
            </table>


        <h2>Details</h2>

                        <h3 id="method_isEqual">
        <div class="location">at line 51</div>
        <code>        static    public            bool
    <strong>isEqual</strong>(<a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $first = null, <a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $second = null)</code>
    </h3>
    <div class="details">
        <p>Indicates whether the two specified objects are "equal".</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td><a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a></td>
                <td>$first</td>
                <td>The first reference object with which to compare.</td>
            </tr>
                    <tr>
                <td><a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a></td>
                <td>$second</td>
                <td>The second reference object with which to compare.</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>bool</td>
            <td><code>true</code> if the two specified objects are the same; <code>false</code> otherwise.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

                <h3 id="method_isNotEqual">
        <div class="location">at line 77</div>
        <code>        static    public            bool
    <strong>isNotEqual</strong>(<a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $first = null, <a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a> $second = null)</code>
    </h3>
    <div class="details">
        <p>Indicates whether the two specified objects are not "equal".</p>
        <p>
</p>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table>
                    <tr>
                <td><a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a></td>
                <td>$first</td>
                <td>The first reference object with which to compare.</td>
            </tr>
                    <tr>
                <td><a href="../../../FlorianWolters/Component/Core/EqualityInterface.html"><abbr title="FlorianWolters\Component\Core\EqualityInterface">EqualityInterface</abbr></a></td>
                <td>$second</td>
                <td>The second reference object with which to compare.</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>bool</td>
            <td><code>true</code> if the two specified objects are not the same; <code>false</code> otherwise.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

    
            </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
